<form name="sentMessage" id="contactForm" novalidate>
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Name</label>
      {{input type="text" class="form-control" placeholder="Name" id="name" value=name  data-validation-required-message="Please enter your name."}}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Email Address</label>
      {{input type="email" class="form-control" placeholder="Email Address" id="email" value=email  data-validation-required-message="Please enter your email address."}}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Phone Number</label>
      {{input type="tel" class="form-control" placeholder="Phone Number" id="phone" value=phone data-validation-required-message="Please enter your phone number."}}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Message</label>
      {{textarea rows="5" class="form-control" placeholder="Message" id="message" value=message  data-validation-required-message="Please enter a message."}}
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <br>
  <div id="success"></div>
  <div class="row">
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-success btn-lg" {{action 'saveContact'}}>Send</button>
    </div>
  </div>
</form>
{{#if addItemFormSubmit}}
    <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thank you <strong>{{name}}</strong>! Your message has been added successfully.</div>
{{/if}}
